# Build artifacts
**/build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
**/generated/

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# Secrets
**/.env
**/env.local
**/google-services.json
**/GoogleService-Info.plist

# Coverage
coverage/
*.lcov

# Logs
*.log
